.success {
    background-color: green;
    color: white;
    padding: 12px;
    width: 100%;
}

.arrondi {
    border-radius: 6px;
}
.text {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
}